body{
    display: flex;
    flex-direction: row;
}
#left{
    max-width: 50%;
    height: auto;
}
#right{
    max-width: 50%;
    height: auto;
}

section{
    padding-top: 20px;
}

.error{
    color: red;
}
table{
    width: 100%;
    padding: 10px;
}
table *{
    
    padding: 20px;
    border-radius: 1%;
    border-style:double;
    
}